<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind analyser</title>
</head>
<body>
    <h1>
        Let's start
    </h1> 
    <br>   So, first i want you to choose any numeber between 1 and 100(you can choose any number because choosing small number will make the magic easy).</br> 
    <br>Now strongly remember the number for further steps.</br>

    <form action="/step2" method='get'>
        <br><button type='submit'> I have choosen in my mind</button></form></br>
        
    </form>
    
</body>
</html>