<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step2</title>
</head>
<body>
    <h1>step-2</h1>
    <br>So, now you have choosen the number. The first step is completed. Thankyou for that.</body></br>
    <br>Now, take the same number from your friend and add both the numbers.</br>
    <form action="/step3">
        <br><button type="submit"> I have taken same number from my friend.l</button></br>
    </form>
</body>
</html>