<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step4</title>
</head>
<body>
    <h1>Step4</h1>
    Everything is under control now. You have remmbered the number. Now add all the numbers.
    <br>Then divide the result with 2 means simply half the number</br>
    <br>At last return the amount you had taken from your friend</br>
    <form action="/Finalresult" method="get">
        <br><button type="submit">I have calculated accordingly</button><br>
    </form>
</body>
</html>