<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step3</title>
</head>

<body>
    <h1>Step 3</h1>
    Hurray! you are too close to enjoy the algorithm
    <br>Now enter any other number you want. Please don't forget the previous number. (This number is needed for further
    proccess )</br>
    <form action="/step4/" method='post'>
        {% csrf_token %}
        <br><textarea name='userinput' id="" cols="30" rows="10" style="width: 1000px; height: 101px;"></textarea></br>


        <button type='submit'>I have entered</button>
    </form>



</body>

</html>